@using TransferBase.Application.Services.General;
<div>
    <MudText Typo="Typo.h6">@playerName Career Valuation</MudText>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" Class="py-2;" Style="overflow:scroll;"></MudChart>
</div>

@code {
    [Parameter]
    public int playerId { get; set; }
    [Parameter]
    public string? playerName { get; set; }
    [Inject]
    public ValuesService ValuesService { get; set; } = default!;

    private int Index = -1;
    public List<ChartSeries>? Series { get; set; }
    public string[]? XAxisLabels { get; set; }

    protected override void OnInitialized()
    {
        if (playerId == -1)
            return;

        List<PlayerValue> PlayerValues = ValuesService.GetValuesByPlayerId(playerId);

        if (PlayerValues != null && PlayerValues.Count > 0)
        {
            Series = new List<ChartSeries> { new ChartSeries() { Name = "Player Values", Data = new double[PlayerValues.Count] } };
            XAxisLabels = new string[PlayerValues.Count];

            for (int i = 0; i < PlayerValues.Count; i++)
            {
                Series[0].Data[i] = PlayerValues[i].MarketValueInEur;
                XAxisLabels[i] = PlayerValues[i].Season.ToString()!;
            }
        }
        else
        {
            Series = new List<ChartSeries> { new ChartSeries() { Name = "Player Values Not found", Data = new double[0] } };
            XAxisLabels = new string[0];
        }
    }
}
