@page "/login"
@model Login
@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Login";
}
<section class="container py-5 my-5">
	<a href="/" class="text-secondary back-to-home">
		← back to home page
	</a>
	<article class="login-article p-5 my-5 shadow rounded bg-white">
		<h1 class="mb-5 fw-bold">
			Login to your account
		</h1>
		<form method="post">
			<div class="mb-1 text-danger">
				<small>
					@Html.ValidationSummary()
				</small>
			</div>
			<div class="mb-3">
				<label asp-for="Model.Email" class="form-label">Email address</label>
				<input asp-for="Model.Email" type="email" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Model.Email)</small>
			</div>
			<div class="mb-3">
				<label asp-for="Model.Password" class="form-label">Password</label>
				<input asp-for="Model.Password" type="password" autocomplete="current-password" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Model.Password)</small>
			</div>
			<div class="mb-3 form-check">
				<input asp-for="Model.RememberMe" type="checkbox" class="form-check-input">
				<label asp-for="Model.RememberMe" class="form-check-label">Remember me</label>
			</div>
			<button type="submit" class="btn btn-primary login-btn">Login</button>
		</form>
		<div class="mt-5">
			<a href="/register" class="text-secondary">
				Don't have an account? Sign up
			</a>
		</div>
	</article>
</section>


<style>
.login-article{
	width: 50%;
	margin-left: 25%;
}

.login-btn{
	width: 100%;
}

.back-to-home{
	margin-left: 25%;
}
</style>