@page "/"

<PageTitle>Home page</PageTitle>

<section class="container py-5 my-5 text-left">
    <article class="p-5 my-5 shadow rounded text-left bg-white">
        <h1 class="mb-5 fw-bold">
            TransferBase
        </h1>
        <p class="">
            A powerful football platform that change the game
        </p>
       @* <p class="">
            View the <a class="link-primary" href="https://spark-framework.net" target="_blank">documentation →</a>
        </p>*@
    </article>
@*    <button @onclick=ButtonClicked>Fill Transfers Table</button>
*@</section>

@*@foreach(var item in PlayerSkills!)
{
    <h1>@item.Name</h1> <br />
}*@